<div class="modal fade" id="newImage" tabindex="-1" aria-labelledby="newImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="text-center" id="newImageLabel">Upload Image</h2>
      </div>
      <div class="modal-body">
        <%= form_with model: image, multipart: true do |form| %>
          <div class="mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :file, class: 'form-label' %>
            <%= form.file_field :file, class: 'form-control' %>
          </div>

          <div class="d-flex justify-content-end">
            <%= form.submit "Submit", class: "btn btn-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
