<div class="card shadow p-5">
  <div class="card-body">
    <h1 class="card-title">
      Images / <%= @image.name %>
    </h1>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <%= image_tag @image.file.url, alt: @image.name, class: 'w-100' %>
      </div>
      <div class="col-lg-8 col-md-6 col-12">
        <h2><strong><%= @image.name %></strong></h2>
        <p><%= number_to_human_size @image.file.size %></p>
        <div class="action-buttons">
          <button type="button" class="btn btn-light btn-sm border" data-bs-toggle="modal" data-bs-target="#newImage">
            Edit
          </button>
          <%= link_to "Delete", image_path(@image), class: "btn btn-light btn-sm border", method: :delete %>
        </div>
        <br />
        <div class="tags">
          <h6>Tags</h6>
          <% @image.tag_names.each do |tag| %>
            <span class="badge bg-secondary"><%= tag %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "images/form", locals: { image: @image } %>